@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}

.container{
   position: relative;
   background-color: #CDE1EF;;
   width: 65%;
   height: 100vh;
   border-radius:  0px 50px 50px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   animation: containerMov 1s ease-in-out;
   
}
.borderImage{
    border-radius: 50%;
    background-color: #194569;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.topDecoration {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: topDecoration 1s ease-in-out;
    /* Opcional: garante que o elemento fique acima de outros elementos */
  }
  
  .topDecoration img {
    width: 250px; /* Ajuste o tamanho conforme necessário */
     /* Mantém a proporção da imagem */
  }
  .containerGlobal{
        display: flex;
        justify-content: space-between;
        height: 100vh;
  }

@keyframes containerMov{
    from{
        left: -300px;
    }
    to{
        left: 0
    }
}
@keyframes topDecoration {
    from{
        left: -300px;
    }
    to{
        left: 0
    }
}